<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fr.playsoft.andsink"
      android:versionCode="1"
      android:versionName="1.0">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" 
    	android:theme="@android:style/Theme.Light">
        <activity android:name="AndSink"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".KSEmpty" ></activity>
        
        <activity android:name=".KSFileSystem" ></activity>
        <activity android:name=".KSViews" ></activity>
        <activity android:name=".KSControls" ></activity>
        <activity android:name=".KSPhone" ></activity>
        <activity android:name=".KSNetwork" ></activity>
		
		<!-- Views -> Layouts -->
		<activity android:name=".view.Layouts" ></activity>
		<activity android:name=".view.layout.KSBaseLine" ></activity>
		<activity android:name=".view.layout.KSLinearLayout" ></activity>
		<activity android:name=".view.layout.LLWidthHeight" ></activity>
		<activity android:name=".view.layout.LLOrientation" ></activity>
		
		<!-- Views -> Animations -->
		<activity android:name=".view.ViewAnimations" ></activity>
		<activity android:name=".view.anim.GridFade" ></activity>
		<activity android:name=".view.anim.GridRandomize" ></activity>
		<activity android:name=".view.anim.GridFadeInverse" ></activity>
		<activity android:name=".view.anim.GridWaveScale" ></activity>
		<activity android:name=".view.anim.ListCascade" ></activity>
		<activity android:name=".view.anim.ListCascadeReverse" ></activity>
		<activity android:name=".view.anim.LayoutAnimRight2Left" ></activity>
		<activity android:name=".view.anim.LayoutAnimLeft2Right" ></activity>
		<activity android:name=".view.anim.NestedAnim" ></activity>
		
		<!-- Network -> Facebook -->
		<activity android:name=".network.Facebook" ></activity>
		<activity android:name=".network.facebook.FacebookSharing" ></activity>
		
    </application>
</manifest>